@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
* {
    --text-color: #16161d;
    --background-color: #E4E9ED;
    --button-background-color : red;
    --button-text-color: white;

}